{% extends 'base.html' %}
{% block content %}

<h2>Boards / {{ topic.board.name }} / {{ topic.subject }}</h2>

<a href="{% url 'reply_topic' topic.board.pk topic.pk %}" class="button">Reply</a>

{% for post in posts %}
<div class="post-box">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <strong>{{ post.created_by.username }}</strong>
        <small>{{ post.created_at|timesince }} ago</small>
    </div>

    <div style="margin-top: 10px;">
        {{ post.message|linebreaks }}
    </div>
</div>
{% endfor %}

<a href="{% url 'board_topics' topic.board.pk %}" class="blue-link-no-underline">< Back to {{ topic.board.name }}</a>

{% endblock %}
